:root {
  --primary: #F7931A;
  
  --neutral-0: #ffffff;
  --neutral-1: #f8f8f8;
  --neutral-2: #f4f4f4;
  --neutral-3: #ededed;
  --neutral-4: #dedede;
  --neutral-5: #bbbbbb;
  --neutral-6: #999999;
  --neutral-7: #777777;
  --neutral-8: #404040;
  --neutral-9: #000000;

  --pink: #EE4162;
  --red: #EB5757;
  --orange: #F7931A;
  --orange-rgb: 247, 147, 26;
  --yellow: #F9CD21;
  --green: #34C571;
  --mint: #16CAC2;
  --teal: #08B6DD;
  --cyan: #2D9CDB;
  --blue: #4A6FF5;
  --blue-rgb: 74, 111, 245;
  --indigo: #7A60E5;
  --purple: #B85FDA;
  --purple-rgb: 184, 95, 218;
  --brown: #A68151;

  --corner-radius-small: 3px;
  --corner-radius: 5px;
  --corner-radius-big: 10px;
  --screen-padding-bottom: 50px;
  --screen-side-padding: 20px;

  --network-illustration: url('/assets/images/network-light.png');
  --network-illustration-2x: url('/assets/images/network-light@2x.png');
  --block-clock-illustration: url('/assets/images/block-clock-light.png');
  --block-clock-illustration-2x: url('/assets/images/block-clock-light@2x.png');
  --initial-download-illustration: url('/assets/images/initial-download-light.png');
  --initial-download-illustration-2x: url('/assets/images/initial-download-light@2x.png');
  --notification-illustration: url('/assets/images/notifications-light.png');
  --notification-illustration-2x: url('/assets/images/notifications-light@2x.png');
  --wallet-illustration: url('/assets/images/wallet-light.png');
  --wallet-illustration-2x: url('/assets/images/wallet-light@2x.png');
}

.-primary { color: var(--primary); }

.-neutral-1 { color: var(--neutral-1); }
.-neutral-2 { color: var(--neutral-2); }
.-neutral-3 { color: var(--neutral-3); }
.-neutral-4 { color: var(--neutral-4); }
.-neutral-5 { color: var(--neutral-5); }
.-neutral-6 { color: var(--neutral-6); }
.-neutral-7 { color: var(--neutral-7); }
.-neutral-8 { color: var(--neutral-8); }
.-neutral-9 { color: var(--neutral-9); }

.--theme-dark {
  --primary: #F7931A;

  --neutral-0: #000000;
  --neutral-1: #1A1A1A;
  --neutral-2: #2D2D2D;
  --neutral-3: #444444;
  --neutral-4: #5C5C5C;
  --neutral-5: #787878;
  --neutral-6: #949494;
  --neutral-7: #B0B0B0;
  --neutral-8: #CCCCCC;
  --neutral-9: #ffffff;

  --pink: #EE4162;
  --red: #EC6363;
  --orange: #F89B2A;
  --yellow: #F9CD21;
  --green: #36B46B;
  --mint: #16CAC2;
  --teal: #08B6DD;
  --cyan: #3CA3DE;
  --blue: #6877FD;
  --blue-rgb: 104, 119, 253;
  --indigo: #7A60E5;
  --purple: #C075DC;
  --brown: #A68151;

  --network-illustration: url('/assets/images/network-dark.png');
  --network-illustration-2x: url('/assets/images/network-dark@2x.png');
  --block-clock-illustration: url('/assets/images/block-clock-dark.png');
  --block-clock-illustration-2x: url('/assets/images/block-clock-dark@2x.png');
  --initial-download-illustration: url('/assets/images/initial-download-dark.png');
  --initial-download-illustration-2x: url('/assets/images/initial-download-dark@2x.png');
  --notification-illustration: url('/assets/images/notifications-dark.png');
  --notification-illustration-2x: url('/assets/images/notifications-dark@2x.png');
  --wallet-illustration: url('/assets/images/wallet-dark.png');
  --wallet-illustration-2x: url('/assets/images/wallet-dark@2x.png');
}